<ion-header>
  <div class="header-section">
    <div class="header-item">
      <div class="left-section" (click)="goBack()">
        <ion-icon slot="icon-only" src="assets/svg/arrowColoredLeft.svg" class="arrow-back-icon">&nbsp;</ion-icon>
      </div>
      <div class="middle-section">
        <div class="title-section">{{ 'PASSWORD_RECOVERY.PASSWORD_RECOVERY' | translate }}</div>
      </div>
      <div class="right-section">&nbsp;</div>
    </div>
  </div>
</ion-header>
<ion-content>
  <div class="main-content">
    <div class="reset-section">
      <form novalidate [formGroup]="user" class="reset-form">
        <ion-item [ngClass]="{'invalid-input-error': ( user.get('password').hasError('required') || user.get('password').hasError('minlength') || user.get('password').hasError('validPassword') ) && submitAttempt}">
          <ion-label position="stacked">{{ 'LOGIN.PASSWORD' | translate }}</ion-label>
          <div class="input-div">
            <ion-input class="password-input" type="password" clearOnEdit="false" [(ngModel)]="password" formControlName="password"></ion-input>
            <ion-icon name="ios-checkmark-circle-outline" class="normal-icon" *ngIf="!submitAttempt && (user.get('password').hasError('required') || user.get('password').hasError('minlength') || user.get('password').hasError('validPassword'))" item-right></ion-icon>
            <ion-icon name="ios-close-circle-outline" class="error-icon" *ngIf="(user.get('password').hasError('required') || user.get('password').hasError('minlength') || user.get('password').hasError('validPassword')) && submitAttempt" item-right></ion-icon>
            <ion-icon name="ios-checkmark-circle-outline" class="valid-icon" *ngIf="!((user.get('password').hasError('required') || user.get('password').hasError('minlength') || user.get('password').hasError('validPassword')))" item-right></ion-icon>
          </div>
        </ion-item>
        <ion-item class="validation-error" no-lines *ngIf="( user.get('password').hasError('required') || user.get('password').hasError('minlength') || user.get('password').hasError('validPassword') ) && submitAttempt">
          {{ 'REGISTER.PASSWORD_TIP' | translate }}
        </ion-item>
        <ion-item class="input-tip" no-lines *ngIf="!(( user.get('password').hasError('required') || user.get('password').hasError('minlength') || user.get('password').hasError('validPassword') ) && submitAttempt)">
          {{ 'REGISTER.PASSWORD_TIP' | translate }}
        </ion-item>
        <ion-item [ngClass]="{'invalid-input-error': (submitAttempt && !(!user.get('password').hasError('minlength') && !user.get('confirmPassword').hasError('minlength') && !user.get('password').hasError('validPassword') && user.get('password').value == user.get('confirmPassword').value))}">
          <ion-label position="stacked">{{ 'REGISTER.CONFIRM_PASSWORD' | translate }}</ion-label>
          <div class="input-div">
            <ion-input class="password-input" type="password" clearOnEdit="false" [(ngModel)]="confirmPassword" formControlName="confirmPassword"></ion-input>
            <ion-icon name="ios-checkmark-circle-outline" class="normal-icon" *ngIf="!submitAttempt && !(!user.get('password').hasError('minlength') && !user.get('confirmPassword').hasError('minlength') && !user.get('password').hasError('validPassword') && user.get('password').value == user.get('confirmPassword').value)"
              item-right></ion-icon>
            <ion-icon name="ios-close-circle-outline" class="error-icon" *ngIf="submitAttempt && !(!user.get('password').hasError('minlength') && !user.get('confirmPassword').hasError('minlength') && !user.get('password').hasError('validPassword') && user.get('password').value == user.get('confirmPassword').value)" item-right></ion-icon>
            <ion-icon name="ios-checkmark-circle-outline" class="valid-icon" *ngIf="!user.get('password').hasError('minlength') && !user.get('confirmPassword').hasError('minlength') && !user.get('password').hasError('validPassword') && user.get('password').value == user.get('confirmPassword').value" item-right></ion-icon>
          </div>
        </ion-item>
        <ion-item class="validation-error" no-lines *ngIf="submitAttempt && !(!user.get('password').hasError('minlength') && !user.get('confirmPassword').hasError('minlength') && !user.get('password').hasError('validPassword') && user.get('password').value == user.get('confirmPassword').value)">
          {{ 'REGISTER.CONFIRM_PASSWORD_DOES_NOT_MATCH' | translate }}
        </ion-item>
        <ion-item class="input-tip" no-lines *ngIf="!(submitAttempt && !(!user.get('password').hasError('minlength') && !user.get('confirmPassword').hasError('minlength') && !user.get('password').hasError('validPassword') && user.get('password').value == user.get('confirmPassword').value))">
          {{ 'REGISTER.CONFIRM_PASSWORD_DOES_NOT_MATCH' | translate }}
        </ion-item>
        <div class="ion-text-center">
          <ion-button (click)="resetPWD()" class="reset-btn" slot="end" round>
          {{ 'PASSWORD_RECOVERY.RESET_MY_PASSWORD' | translate }}
        </ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
