<ion-header>
  <div class="header-section">
    <div class="header-item">
      <div class="left-section">&nbsp;</div>
      <div class="middle-section">
        <div class="title-section">{{title}}</div>
      </div>
      <div class="right-section">
        <ion-icon (click)="close()" slot="icon-only" src="assets/svg/Close.svg" class="close-icon">&nbsp;</ion-icon>
      </div>
    </div>
  </div>
</ion-header>
<ion-content>
  <div class="main-content">
    <div class="fields-section">
      <form novalidate [formGroup]="formGroup" class="mortgage-form">
        <ion-item>
          <ion-label position="stacked">{{ 'INSURANCE_REV.MORTGAGE_TYPE' | translate }}</ion-label>
          <ion-select #loanTypeSelect [(ngModel)]="type" formControlName="type" interface="action-sheet">
            <ion-select-option value="personnal">{{ 'INSURANCE_REV.HOME_LOAN' | translate }}</ion-select-option>
            <ion-select-option value="commercial">{{ 'INSURANCE_REV.BUSINESS_LOAN' | translate }}</ion-select-option>
          </ion-select>
          <!--<ion-icon (click)="openLoanTypeSelect()" src="assets/svg/ArrowDown.svg" class="arrow-down-icon" slot="end">&nbsp;</ion-icon>-->
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{ 'INSURANCE_REV.LENDING_ORGANISATION' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="institution" formControlName="institution"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{ 'INSURANCE_REV.PERCENTAGE_INSURED' | translate }}</ion-label>
          <ion-select #percentSelect [(ngModel)]="insurance" formControlName="insurance" interface="action-sheet">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="50">50</ion-select-option>
            <ion-select-option value="100">100</ion-select-option>
          </ion-select>
          <!--<ion-icon (click)="openPercentSelect()" src="assets/svg/ArrowDown.svg" class="arrow-down-icon" slot="end">&nbsp;</ion-icon>-->
        </ion-item>
        <ion-item [ngClass]="{'invalid-input-error': ( formGroup.get('amount').hasError('required') && actionBtnAttempt)}">
          <ion-label position="stacked">{{ 'INSURANCE_REV.AMOUNT_OWED' | translate }}<span class="asterisk-ele">&#42;</span></ion-label>
          <ion-input type="number" pattern="[0-9]*" [(ngModel)]="amount" formControlName="amount"></ion-input>
        </ion-item>
        <ion-item class="validation-error" no-lines *ngIf="(formGroup.get('amount').hasError('required')) && actionBtnAttempt">
          {{ 'GENERIC.REQUIRED' | translate }}
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{ 'INSURANCE_REV.YEARS_TO_PAYOFF' | translate }}</ion-label>
          <ion-input type="number" pattern="[0-9]*" [(ngModel)]="duration" formControlName="duration"></ion-input>
        </ion-item>
        <ion-label position="stacked">{{ 'INSURANCE_REV.RENEWAL_DATE' | translate }}</ion-label>
        <div class="selectbox-section">
          <ion-item>
            <ion-select #daySelect [(ngModel)]="day" formControlName="day" interface="action-sheet">
              <ion-select-option *ngFor="let d of days" value='{{d}}'>{{d}}</ion-select-option>
            </ion-select>
            <!--<ion-icon (click)="openDaySelect()" src="assets/svg/ArrowDown.svg" class="dob-arrow-down-icon" slot="end">&nbsp;</ion-icon>-->
          </ion-item>
          <ion-item>
            <ion-select #monthSelect [(ngModel)]="month" formControlName="month" interface="action-sheet" (ionChange)="onChangeMonth()">
              <ion-select-option *ngFor="let m of appGlobal.months" value='{{m}}'>{{ 'GENERIC.' + m | translate}}</ion-select-option>
            </ion-select>
            <!--<ion-icon (click)="openMonthSelect()" src="assets/svg/ArrowDown.svg" class="dob-arrow-down-icon" slot="end">&nbsp;</ion-icon>-->
          </ion-item>
          <ion-item>
            <ion-select #yearSelect [(ngModel)]="year" formControlName="year" interface="action-sheet">
              <ion-select-option *ngFor="let y of appGlobal.years" value='{{y}}'>{{y}}</ion-select-option>
            </ion-select>
            <!--<ion-icon (click)="openYearSelect()" src="assets/svg/ArrowDown.svg" class="dob-arrow-down-icon" slot="end">&nbsp;</ion-icon>-->
          </ion-item>
        </div>
        <ion-item [ngClass]="{'invalid-input-error': ( formGroup.get('monthly').hasError('required') && actionBtnAttempt)}">
          <ion-label position="stacked">{{ 'INSURANCE_REV.MONTHLY_PAYMENT' | translate }}<span class="asterisk-ele">&#42;</span></ion-label>
          <ion-input type="number" pattern="[0-9]*" [(ngModel)]="monthly" formControlName="monthly"></ion-input>
        </ion-item>
        <ion-item class="validation-error" no-lines *ngIf="(formGroup.get('monthly').hasError('required')) && actionBtnAttempt">
          {{ 'GENERIC.REQUIRED' | translate }}
        </ion-item>
        <ion-item [ngClass]="{'invalid-input-error': ( formGroup.get('borrower').hasError('required') && actionBtnAttempt)}">
          <ion-label position="stacked">{{ 'INSURANCE_REV.BORROWERS' | translate }}<span class="asterisk-ele">&#42;</span></ion-label>
          <ion-select [selectOptions]="{cssClass: 'select-dlg'}" #borrowersSelect [(ngModel)]="borrower" formControlName="borrower" interface="action-sheet" multiple="true">
            <ion-select-option *ngFor="let contact of borrowers" value='{{contact?.id}}'>{{contact?.fullname}}</ion-select-option>
          </ion-select>
          <!--<ion-icon (click)="openBorrowersSelect()" src="assets/svg/ArrowDown.svg" class="arrow-down-icon" slot="end">&nbsp;</ion-icon>-->
        </ion-item>
        <ion-item class="validation-error" no-lines *ngIf="(formGroup.get('borrower').hasError('required')) && actionBtnAttempt">
          {{ 'GENERIC.REQUIRED' | translate }}
        </ion-item>
      </form>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="btn-area" text-center>
      <ion-button class="action-btn" slot="end" round (click)="saveClick()">
        {{ 'INSURANCE_REV.SAVE_INFO' | translate }}
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
