.header-section {
  background: white;
  top: 0px;
  position: fixed;
  height: 68px;
  width: 100%;
  justify-content: space-between;
  z-index: 10000;
}

.header-item {
  background: none;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 31px;
  display: flex;
  justify-content: baseline;
}

.left-section {
  display: flex;
  flex-basis: 10%;
  margin-top: 1px;
}

.middle-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.right-section {
  flex-basis: 10%;
}

.arrow-back-icon {
  min-width: 1px !important;
  background-color: transparent;
  width: 13px;
  font-size: 22px !important;
}

.title-section {
  color: #2F9AE1;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
}

.main-content {
  margin-top: 67px;
}

.recovery-section {
  padding-top: 33px;
  padding-left: 25px;
  padding-right: 25px;
  .item {
    --padding-start: 0px;
    --padding-top: 7px;
    --border-style: none;
    border-bottom: 2px solid #F4F6F8;
  }
  .item-inner {
    border-bottom: 1.5px solid #F4F6F8 !important;
  }
  ion-label {
    color: #768CA1 !important;
    font-size: 13px !important;
  }
  .password-input {
    letter-spacing: 11px;
  }
  .text-input {
    color: #364A5D;
    font-weight: 700;
  }
  .forgot-txt {
    color: #2F9AE1;
    font-size: 24px;
    font-weight: 600;
  }
  .forgot-desc {
    padding-top: 5px;
    padding-bottom: 24px;
    color: #364A5D;
    font-size: 16px;
  }
}

.validation-error {
  --color: #F93535;
  --min-height: 0px !important;
  padding: 0px !important;
  border-bottom: none !important;
  font-size: 11px !important;
}

.forgot-form {
  ion-icon {
    margin-top: 32px !important;
    margin-bottom: 0px !important;
  }
  ion-input {
    color: #364A5D;
    font-weight: 700;
  }
}

.error-icon {
  color: #F93535 !important;
}

.valid-icon {
  color: #02CFAD !important;
}

.normal-icon {
  color: #BFCAD1;
}

.reset-btn {
  width: 223px;
  margin-top: 27px;
  height: 50px;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  --background: #19A4F6;
  --background-hover: #3fb5f7;
  --border-radius: 64px;
}

.reset-btn.activated {
  --background-activated: #3fb5f7;
}

.bottom-section {
  text-align: center;
}

.have-account-section-key-close {
  position: fixed;
  bottom: 16px;
  width: 100%;
}

.have-account-section-key-open {
  position: relative;
  bottom: 0px;
  width: 100%;
}

.have-account {
  color: #768CA1;
  font-size: 14px;
}

.signinlink {
  text-decoration: underline;
  padding-left: 14px;
  color: #2F9AE1;
  font-weight: 700;
  font-size: 14px;
}

.confirm-section {
  padding-left: 25px;
  padding-right: 25px;
  width: 100%;
  position: absolute;
  top: calc((100% - 238px) / 2);
}

.email-sent-img {
  width: 216px;
}

.email-sent-img-section {
  padding-bottom: 59px;
}

.checkout-email {
  color: #2F9AE1;
  font-weight: 600;
  font-size: 24px;
}

.sent-email-txt-area {
  padding-top: 6px;
  color: #364A5D;
  font-size: 16px;
}

.click-link-txt-area {
  padding-top: 15px;
  color: #364A5D;
  font-size: 16px;
}

.sent-email {
  color: #2F9AE1;
  font-weight: 700;
}

.invalid-input-error {
  border-bottom: solid 2px #F93535 !important;
  .item-inner {
    border-bottom: none !important;
  }
}

.item.item[no-lines] .item-inner {
  border: none !important;
}

.item-input {
  --highlight-color-invalid: transparent;
}

.item-input.item-has-focus {
  &.item-has-focus {
    border-bottom: solid 2px #19A4F6 !important;
    --border-color: transparent;
    --border-style: none;
    --highlight-color-focused: transparent;
    --highlight-color-valid: transparent;
  }
}

@media only screen and (max-height: 667px) {
  .title-section {
    font-size: 15px;
  }
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
      .header-item {
        padding-top: calc(10px + env(safe-area-inset-top));
      }
      .header-section {
        height: calc(42px + env(safe-area-inset-top));
      }
      .main-content {
        margin-top: calc(42px + env(safe-area-inset-top));
      }
}

@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) {
      .header-item {
        padding-top: calc(10px + env(safe-area-inset-top));
      }
      .header-section {
        height: calc(42px + env(safe-area-inset-top));
      }
      .main-content {
        margin-top: calc(42px + env(safe-area-inset-top));
      }
}

@media only screen 
    and (device-width: 375px) 
    and (device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3) {
      .header-item {
        padding-top: calc(10px + env(safe-area-inset-top));
      }
      .header-section {
        height: calc(42px + env(safe-area-inset-top));
      }
      .main-content {
        margin-top: calc(42px + env(safe-area-inset-top));
      }
}

@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 3) {
      .header-item {
        padding-top: calc(10px + env(safe-area-inset-top));
      }
      .header-section {
        height: calc(42px + env(safe-area-inset-top));
      }
      .main-content {
        margin-top: calc(42px + env(safe-area-inset-top));
      }
}