<ion-header>
  <div class="header-section">
    <div class="header-item">
      <div class="left-section" (click)="goBack()">
        <ion-icon slot="icon-only" src="assets/svg/arrowLeft-new.svg" class="arrow-back-icon">&nbsp;</ion-icon>
      </div>
      <div class="middle-section">
        <div class="title-section">{{ 'POLICY_DETAIL.TITLE' | translate }}</div>
      </div>
      <div class="right-section">&nbsp;</div>
    </div>
  </div>
</ion-header>
<ion-content>
  <div class="info-section">
    <div class="img-section" text-center>
      <img class="circle-img" src="assets/imgs/company_logos/{{policy?.company}}.png" />
      <img class="border-img" src="assets/icon/imageBorder.png" />
    </div>
    <div class="policy-desc">{{policy?.company_name}}</div>
    <div class="insurance-type" *ngIf="policy?.type == 'life' && policy?.category == 'term'">{{ 'GENERIC.TERM_LIFE_INSURANCE' | translate }}</div>
    <div class="insurance-type" *ngIf="policy?.type == 'life' && policy?.category == 'wholelife'">{{ 'GENERIC.PERMANENT_LIFE_INSURANCE' | translate }}</div>
    <div class="insurance-type" *ngIf="policy?.type == 'life' && policy?.category == 'universal'">{{ 'GENERIC.UNIVERSAL_LIFE_INSURANCE' | translate }}</div>
    <div class="insurance-type" *ngIf="policy?.type == 'disability'">{{ 'GENERIC.DISABILITY_INSURANCE' | translate }}</div>
    <div class="insurance-type" *ngIf="policy?.type == 'longtermcare'">{{ 'GENERIC.LONG_TERM_CARE_INSURANCE' | translate }}</div>
    <div class="insurance-type" *ngIf="policy?.type == 'critical'">{{ 'GENERIC.CRITICAL_ILLNESS_INSURANCE' | translate }}</div>
    <div class="insurance-type" *ngIf="policy?.type == 'travel'">{{ 'GENERIC.TRAVEL_INSURANCE' | translate }}</div>
    <div class="insurance-type">{{policy?.product.data.product_name_en}}</div>
    <div class="policy-num-txt">{{ 'POLICY_DETAIL.POLICY_NUMBER' | translate }}</div>
    <div class="ion-text-center">
      <span class="policy-num">#{{policy?.policy_number}}</span>
    </div>
  </div>
  <div class="contact-section" text-center>
    <ion-button class="contact-btn" slot="end" round (click)="goBroker()">
      {{ 'POLICY_DETAIL.CONTACT_BROKER' | translate }}
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-button>
  </div>

  <ion-item class="policy-status-section policy-pending" *ngIf="appGlobal.getPolicyStatus(policy) == 'pending'" (click)="goPolicyStatus(policy)">
    <div class="status-txt">{{ 'POLICY_DETAIL.POLICY_STATUS' | translate }}</div>

    <div class="policy-status">
      <div class="policy-status-img">
        <img class="status-img" src="assets/icon/pending_logo_color.png" />
        <div>{{ 'POLICY_DETAIL.PENDING' | translate }}</div>
      </div>
      <div class="policy-start-date" *ngIf="false">{{ 'POLICY_DETAIL.SINCE' | translate }} {{appGlobal.dateFormatting(policy?.date_sent, 'DD MMM YYYY')}}</div>
    </div>
    <ion-button class="policy-pending" fill="clear" icon-only slot="end">
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item class="policy-status-section policy-inforce" *ngIf="appGlobal.getPolicyStatus(policy) == 'in force'" (click)="goPolicyStatus(policy)">
    <div class="status-txt">{{ 'POLICY_DETAIL.POLICY_STATUS' | translate }}</div>
    <div class="policy-status">
      <div class="policy-status-img">
        <img class="status-img" src="assets/icon/in_force_logo_color.png" />
        <div>{{ 'POLICY_DETAIL.IN_FORCE' | translate }}</div>
      </div>
      <div class="policy-start-date" *ngIf="policy?.date_delivered">{{ 'POLICY_DETAIL.SINCE' | translate }} {{appGlobal.dateFormatting(policy?.date_delivered, 'DD MMM YYYY')}}</div>
    </div>
    <ion-button class="policy-inforce" fill="clear" icon-only slot="end">
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item class="policy-status-section policy-canceled" *ngIf="appGlobal.getPolicyStatus(policy) == 'canceled'" (click)="goPolicyStatus(policy)">
    <div class="status-txt">{{ 'POLICY_DETAIL.POLICY_STATUS' | translate }}</div>
    <div class="policy-status">
      <div class="policy-status-img">
        <img class="status-img" src="assets/icon/cancelled_logo_color.png" />
        <div>{{ 'POLICY_DETAIL.CANCELLED' | translate }}</div>
      </div>
      <div class="policy-start-date" *ngIf="false">{{ 'POLICY_DETAIL.SINCE' | translate }} {{appGlobal.dateFormatting(policy?.date_laps, 'DD MMM YYYY')}}</div>
    </div>
    <ion-button class="policy-pending" fill="clear" icon-only slot="end">
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item class="policy-status-section policy-refused" *ngIf="appGlobal.getPolicyStatus(policy) == 'refused'" (click)="goPolicyStatus(policy)">
    <div class="status-txt">{{ 'POLICY_DETAIL.POLICY_STATUS' | translate }}</div>
    <div class="policy-status">
      <div class="policy-status-img">
        <img class="status-img" src="assets/icon/refused_logo_color.png" />
        <div>{{ 'POLICY_DETAIL.REFUSED' | translate }}</div>
      </div>
      <div class="policy-start-date" *ngIf="false">{{ 'POLICY_DETAIL.SINCE' | translate }} {{appGlobal.dateFormatting(policy?.date_processed, 'DD MMM YYYY')}}</div>
    </div>
    <ion-button class="policy-pending" fill="clear" icon-only slot="end">
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item class="policy-item" *ngIf="policy?.details?.data?.monthly_payment">
    <span class="policy-item-title">{{ 'POLICY_DETAIL.MONTHLY_PAYMENT' | translate }}</span>
    <span class="policy-item-val">{{appGlobal.priceFormat(policy?.details?.data?.monthly_payment)}} {{ 'GENERIC.PER_MONTH' | translate }}</span>
  </ion-item>
  <ion-item class="policy-item">
    <div class="policy-item-title">{{ 'POLICY_DETAIL.INSURANCE_TYPE' | translate }}</div>
    <div class="policy-item-val" *ngIf="policy?.type == 'life' && policy?.category == 'term'">{{ 'GENERIC.TERM_LIFE_INSURANCE' | translate }}</div>
    <div class="policy-item-val" *ngIf="policy?.type == 'life' && policy?.category == 'wholelife'">{{ 'GENERIC.PERMANENT_LIFE_INSURANCE' | translate }}</div>
    <div class="policy-item-val" *ngIf="policy?.type == 'life' && policy?.category == 'universal'">{{ 'GENERIC.UNIVERSAL_LIFE_INSURANCE' | translate }}</div>
    <div class="policy-item-val" *ngIf="policy?.type == 'disability'">{{ 'GENERIC.DISABILITY_INSURANCE' | translate }}</div>
    <div class="policy-item-val" *ngIf="policy?.type == 'longtermcare'">{{ 'GENERIC.LONG_TERM_CARE_INSURANCE' | translate }}</div>
    <div class="policy-item-val" *ngIf="policy?.type == 'critical'">{{ 'GENERIC.CRITICAL_ILLNESS_INSURANCE' | translate }}</div>
    <div class="policy-item-val" *ngIf="policy?.type == 'travel'">{{ 'GENERIC.TRAVEL_INSURANCE' | translate }}</div>
  </ion-item>
  <ion-item class="policy-item">
    <span class="policy-item-title">{{ 'GENERIC.COVERAGE' | translate }}</span>
    <span class="policy-item-val">{{policy?.details?.data?.death_capital ? appGlobal.priceFormatRound(policy?.details?.data?.death_capital) : appGlobal.priceFormatRound(policy?.details?.data?.base_capital)}}</span>
  </ion-item>
  <ion-item class="policy-item" *ngIf="policy?.duration">
    <div class="policy-item-title">{{ 'GENERIC.TERM' | translate }}</div>
    <div class="policy-item-val">
      <div>{{policy?.duration ? policy?.duration : 0}} {{ 'POLICY_DETAIL.YEARS' | translate }}</div>
      <div class="end-date" *ngIf="policy?.date_delivered && appGlobal.getPolicyStatus(policy) == 'in force' && policy?.duration">{{ 'POLICY_DETAIL.ENDS' | translate }} {{appGlobal.dateFormatting(calcDate(policy?.date_delivered, policy?.duration), 'DD MMM YYYY')}}</div>
    </div>
  </ion-item>
  <ion-item class="policy-item">
    <span class="policy-item-title">{{ 'POLICY_DETAIL.POLICYHOLDERS' | translate }}</span>
    <span class="policy-item-val" (click)="goHouseholdProfile(policyHousehold)">{{policyHousehold?.firstname}} {{policyHousehold?.lastname}}</span>
    <ion-button class="item-arrow-btn" (click)="goHouseholdProfile(policyHousehold)" fill="clear" icon-only slot="end">
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item class="policy-item" *ngFor="let beneficiary of beneficiaries; let i = index">
    <span class="policy-item-title" *ngIf="i == 0">{{ 'POLICY_DETAIL.BENEFICIARIES' | translate }}</span>
    <span class="policy-item-title" *ngIf="i != 0">&nbsp;</span>
    <span class="policy-item-val" (click)="goHouseholdProfile(beneficiary)">{{beneficiary?.firstname}} {{beneficiary?.lastname}}</span>
    <ion-button class="item-arrow-btn" (click)="goHouseholdProfile(beneficiary)" fill="clear" icon-only slot="end">
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-button>
  </ion-item>
  <!--
  <div class="paperwork-section" text-center>
    <button class="paperwork-btn" (click)="goPaperWork()" ion-button icon-right round>
      See submited paperwork
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </div>
  -->
</ion-content>
