<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon class="policy-tab-icon"></ion-icon>
      <ion-label>{{ 'TABS.POLICIES' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="broker">
      <ion-icon class="broker-tab-icon"></ion-icon>
      <ion-label>{{ 'TABS.MY_BROKER' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-profile">
      <ion-icon class="my-profile-tab-icon"></ion-icon>
      <ion-label>{{ 'TABS.MY_PROFILE' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reclamation">
      <ion-icon class="reclamation-tab-icon"></ion-icon>
      <ion-label>{{ 'TABS.RECLAMATION' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
