<ion-header>
  <div class="header-section">
    <div class="header-item">
      <div class="left-section" (click)="goBack()">
        <ion-icon name="infoprimes-arrow-back" class="arrow-back-icon">&nbsp;</ion-icon>
      </div>
      <div class="middle-section">
        <div class="title-section">SUBMITTED PAPERWORK</div>
      </div>
      <div class="right-section">&nbsp;</div>
    </div>
  </div>
</ion-header>
<ion-content>
  <div class="info-section">
    <div class="img-section" text-center>
      <img class="circle-img" src="assets/icon/circleSolid.png" />
      <img class="border-img" src="assets/icon/imageBorder.png" />
      <span class="wordCircle"><span>Z</span></span>
      <span class="policy-name"><span>ZURICH</span></span>
    </div>
    <div class="policy-info">
      <div class="first-line">
        <div class="title">Desjardins</div>
        <div class="status">
          <span class="policy-status-img">
            <img class="secure-img" src="assets/icon/secureWhite.png" />
          </span>
          <span class="policy-status">In force</span>
        </div>
      </div>
      <div class="second-line">Permanent Life Insurance</div>
      <div class="third-line">Policy #R2-D200</div>
    </div>
  </div>
  <div class="content" text-center>
    <img src="assets/imgs/dummy-paperwork.png">
  </div>
</ion-content>