.header-section {
  background: linear-gradient(#2B9AE6, #239CEC);
  top: 0px;
  position: fixed;
  height: 68px;
  width: 100%;
  justify-content: space-between;
  z-index: 10000;
}

.header-item {
  background: none;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 31px;
  display: flex;
  justify-content: baseline;
}

.left-section {
  display: flex;
  flex-basis: 10%;
  margin-top: 1px;
}

.middle-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.right-section {
  flex-basis: 10%;
  text-align: right;
  font-size: 17px;
  color: white;
}

.arrow-back-icon {
  min-width: 1px !important;
  background-color: transparent;
  width: 13px;
  font-size: 22px !important;
}

.title-section {
  color: white;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
}

.info-section {
  text-align: center;
  height: 235px;
  margin-top: 67px;
  background: linear-gradient(#239CEC, #15BAF8);
}

.img-section {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  height: 148px;
}

.border-img {
  width: 146px;
}

.circle-img {
  position: absolute;
  display: inline-flex;
  width: 109px;
  top: 19px;
  left: calc(50% - 54.5px);
  border-radius: 50%;
}

.name {
  width: 100%;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding-top: 5px;
}

.licence-num-txt {
  color: white;
  font-size: 12px;
  padding-top: 8px;
  padding-bottom: 2px;
}

.licence-num {
  color: white;
  width: 100px;
  border-radius: 50px 50px 50px 50px;
  background: rgba(1, 70, 118, 0.21);
  padding-top: 1px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  padding-bottom: 3px;
  font-weight: 700;
}

.profile-item {
  --padding-start: 0px;
  --border-style: none;
  --padding-top: 3px;
  --padding-bottom: 4px;
  border-bottom: solid 2px #F4F7FA;
}

.profile-item .item-inner {
  border-bottom: 1.5px solid #F4F7FA !important;
  padding-top: 4px;
  padding-bottom: 4px;
}

.title {
  padding-left: 16px;
  font-size: 16px;
  color: #364A5D;
}

.btn-area {
  background: linear-gradient(#13AAE3, #12B4E4);
  padding-bottom: 8px;
}

.review-btn {
  margin-top: 7px;
  height: 34px;
  font-weight: 700;
  text-transform: initial;
  font-size: 16px;
  --background: #8ACA17;
  --background-hover: #b7ec56;
  --border-radius: 64px;
}

.review-btn.activated {
  --background-activated: #b7ec56;
}

.renew-txt {
  font-size: 14px;
  color: white;
  padding-top: 14px;
  padding-left: 12px;
  padding-right: 12px;
}

.arrow-btn {
  color: #CAD8E5;
}

.gear-icon {
  background-color: transparent;
  font-size: 18px;
  margin-right: 6px;
  margin-top: 1px;
}

@media only screen and (max-height: 667px) {
  .title-section {
    font-size: 15px;
  }
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
      .header-item {
        padding-top: calc(10px + env(safe-area-inset-top));
      }
      .info-section {
        margin-top: calc(42px + env(safe-area-inset-top));
      }
      .header-section {
        height: calc(42px + env(safe-area-inset-top));
      }
}

@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) {
      .header-item {
        padding-top: calc(10px + env(safe-area-inset-top));
      }
      .info-section {
        margin-top: calc(42px + env(safe-area-inset-top));
      }
      .header-section {
        height: calc(42px + env(safe-area-inset-top));
      }
}

@media only screen 
    and (device-width: 375px) 
    and (device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3) {
      .header-item {
        padding-top: calc(10px + env(safe-area-inset-top));
      }
      .info-section {
        margin-top: calc(42px + env(safe-area-inset-top));
      }
      .header-section {
        height: calc(42px + env(safe-area-inset-top));
      }
}

@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 3) {
      .header-item {
        padding-top: calc(10px + env(safe-area-inset-top));
      }
      .info-section {
        margin-top: calc(42px + env(safe-area-inset-top));
      }
      .header-section {
        height: calc(42px + env(safe-area-inset-top));
      }
}